@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=DM+Serif+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.hover-container:hover .stickerimg {
    transform: translate(-14px, -25px) scale(1.0);
}

.hover-container:hover .pinimg {
    transform: translate(27px, -55px);
}

@media (max-width: 640px) { /* sm breakpoint */
    .hover-container:hover .pinimg {
        transform: translate(20px, -42px);
    }

    .hover-container:hover .stickerimg {
        transform: translate(-8px, -25px) scale(1.0);
    }

}

.hover-container:hover button {
    background-color: #E0593D;
}
.hover-container:hover a {
    color: #FFFEF8;
}
